<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Chess</title>

        <style media="screen">

            canvas {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

        </style>
    </head>
    <body>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
        <script src="assets/js/p5.js" charset="utf-8"></script>
        <script src="assets/js/variables.js" charset="utf-8"></script>
        <script src="assets/js/objects.js" charset="utf-8"></script>
        <script src="assets/js/board.js" charset="utf-8"></script>
        <script src="assets/js/main.js" charset="utf-8"></script>

    </body>
</html>
