<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>C H E S S</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="assets/js/jquery.js" charset="utf-8"></script>
    </head>
    <body>
        <div class="bg"></div>

        <div class="w3-display-middle container">
            <center>
                <input type="text" id="txt" class="w3-input w3-border w3-round-large" autofocus placeholder="Room Name">
                <button type="button" id="join" class="w3-btn w3-green w3-round-large">join</button>
            </center>
        </div>

        <script type="text/javascript">

            const electron = require('electron');
            const {ipcRenderer} = electron;

            ipcRenderer.on("room:busy", (e, r) => {
                alert(`Room ${r} is busy.`);
            });

            $(document).ready(() => {

                let newRoom;

                $("#join").on("click", () => {
                    newRoom = $("#txt").val();
                    ipcRenderer.send("enter", newRoom);
                });

            });

        </script>
    </body>
</html>
